In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use("default")

# Percorsi ai file nella cartella data/
draft_path = "../data/NBA_Draft_ve.csv"

df = pd.read_csv(draft_path)

df.head()

ModuleNotFoundError: No module named 'pandas'

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8324 entries, 0 to 8323
Data columns (total 22 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     8324 non-null   int64
 1   Rk       8323 non-null   float64
 2   Tm       8323 non-null   object
 3   Player   8323 non-null   object
 4   College  8321 non-null   object
 5   Yrs      3684 non-null   object
 6   G        3689 non-null   float64
 7   MP       3590 non-null   float64
 8   PTS      3689 non-null   float64
 9   TRB      3618 non-null   float64
 10  AST      3689 non-null   float64
 11  FG%      3681 non-null   float64
 12  3P%      2243 non-null   float64
 13  FT%      3597 non-null   float64
 14  MP.1     3590 non-null   float64
 15  PTS.1    3689 non-null   float64
 16  TRB.1    3618 non-null   float64
 17  AST.1    3689 non-null   float64
 18  WS       3689 non-null   float64
 19  WS/48    3589 non-null   float64
 20  BPM      3017 non-null   float64
 21  VORP     3018 non-null   float64
dtypes: float64(17), int64(1), object(4)
memory usage: 1.4+ MB

In [7]:
df.columns

Index(['Year', 'Rk', 'Tm', 'Player', 'College', 'Yrs', 'G', 'MP', 'PTS', 'TRB',
       'AST', 'FG%', '3P%', 'FT%', 'MP.1', 'PTS.1', 'TRB.1', 'AST.1', 'WS',
       'WS/48', 'BPM', 'VORP'],
      dtype='object')

In [8]:
df.isna().sum()

Year          0
Rk            1
Tm            1
Player        1
College       3
Yrs        4640
G          4635
MP         4734
PTS        4635
TRB        4706
AST        4635
FG%        4643
3P%        6081
FT%        4727
MP.1       4734
PTS.1      4635
TRB.1      4706
AST.1      4635
WS         4635
WS/48      4735
BPM        5307
VORP       5306
dtype: int64