In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use("default")

# Percorsi ai file nella cartella data/
draft_path = "../data/NBA_Draft_ve.csv"

df = pd.read_csv(draft_path)

df.head()

,Year,Rk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,3P%,FT%,MP.1,PTS.1,TRB.1,AST.1,WS,WS/48,BPM,VORP
0,1947,1.0,PIT,Clifton McNeely,Texas Wesleyan University,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1947,2.0,TRH,Glen Selbo,Wisconsin,1,13.0,NaN,42.0,NaN,...,NaN,0.759,NaN,3.2,NaN,1.8,-0.2,NaN,NaN,NaN
2,1947,3.0,BOS,Bulbs Ehlers,Purdue,2,99.0,NaN,800.0,NaN,...,NaN,0.618,NaN,8.1,NaN,1.8,3.0,NaN,NaN,NaN
3,1947,4.0,PRO,Walt Dropo,UConn,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1947,5.0,NYK,Dick Holub,Long Island University,1,48.0,NaN,504.0,NaN,...,NaN,0.633,NaN,10.5,NaN,0.8,4.2,NaN,NaN,NaN

In [9]:
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8324 entries, 0 to 8323
Data columns (total 22 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     8324 non-null   int64
 1   Rk       8323 non-null   float64
 2   Tm       8323 non-null   object
 3   Player   8323 non-null   object
 4   College  8321 non-null   object
 5   Yrs      3684 non-null   object
 6   G        3689 non-null   float64
 7   MP       3590 non-null   float64
 8   PTS      3689 non-null   float64
 9   TRB      3618 non-null   float64
 10  AST      3689 non-null   float64
 11  FG%      3681 non-null   float64
 12  3P%      2243 non-null   float64
 13  FT%      3597 non-null   float64
 14  MP.1     3590 non-null   float64
 15  PTS.1    3689 non-null   float64
 16  TRB.1    3618 non-null   float64
 17  AST.1    3689 non-null   float64
 18  WS       3689 non-null   float64
 19  WS/48    3589 non-null   float64
 20  BPM      3017 non-null   float64
 21  VORP     3018 non-null   float64
dtypes: float64(17), int64(1), object(4)
memory usage: 1.4+ MB

Index(['Year', 'Rk', 'Tm', 'Player', 'College', 'Yrs', 'G', 'MP', 'PTS', 'TRB',
       'AST', 'FG%', '3P%', 'FT%', 'MP.1', 'PTS.1', 'TRB.1', 'AST.1', 'WS',
       'WS/48', 'BPM', 'VORP'],
      dtype='object')

Normalizzazione dello storico

In [10]:
df = df.rename(columns={
    "Year": "DraftYear",
    "Rk": "Pick",
    "Yrs": "Seasons",
    "G": "Games"
})

In [11]:
df.head()

,DraftYear,Pick,Tm,Player,College,Seasons,Games,MP,PTS,TRB,...,3P%,FT%,MP.1,PTS.1,TRB.1,AST.1,WS,WS/48,BPM,VORP
0,1947,1.0,PIT,Clifton McNeely,Texas Wesleyan University,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1947,2.0,TRH,Glen Selbo,Wisconsin,1,13.0,NaN,42.0,NaN,...,NaN,0.759,NaN,3.2,NaN,1.8,-0.2,NaN,NaN,NaN
2,1947,3.0,BOS,Bulbs Ehlers,Purdue,2,99.0,NaN,800.0,NaN,...,NaN,0.618,NaN,8.1,NaN,1.8,3.0,NaN,NaN,NaN
3,1947,4.0,PRO,Walt Dropo,UConn,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1947,5.0,NYK,Dick Holub,Long Island University,1,48.0,NaN,504.0,NaN,...,NaN,0.633,NaN,10.5,NaN,0.8,4.2,NaN,NaN,NaN

In [12]:
# Valori mancanti per colonna
df.isna().sum()

DraftYear       0
Pick            1
Tm              1
Player          1
College         3
Seasons      4640
Games        4635
MP           4734
PTS          4635
TRB          4706
AST          4635
FG%          4643
3P%          6081
FT%          4727
MP.1         4734
PTS.1        4635
TRB.1        4706
AST.1        4635
WS           4635
WS/48        4735
BPM          5307
VORP         5306
dtype: int64

OSSERVAZIONe-> nel dataset ci sono valori nulli per le seguenti feature anagrafiche:
- Pick
- Tm
- Player
- Collage (3)
Questo è dovuto ad una multa per i Washington Bullets che nel 1997 hanno dovuto rinunciare ad una scelta. Per i restanti missing Values sulla feature collage, questo è dipeso dal fatto che i primi anni chi arrivava dall'estero non aveva un collage di appartenenza, gestito nel dataset inserendolo manualmente "Overseas (Greece)" perche il giocatore in questione proveniva dalla grecia, oppure il collage di appartenenza era sconosciuto, sostituito con valore "UNKNOWN".

Mentre i NaN su dati statistici sono giustificati dal fatto che quel determinato giocatore non ha mai esordito in NBA.

In [17]:
# Crea una colonna che marca la pick forfeitata
df["Forfeited"] = df["Player"].isna() & (df["DraftYear"] == 1997)

# Dataset “pulito” per le analisi sui giocatori
df = df[~df["Forfeited"]].copy()

In [18]:
#Gestione valori NaN sui college
df.loc[df["College"].isna() & (df["DraftYear"] < 1980), "College"] = "UNKNOWN"
df.loc[df["College"].isna() & (df["DraftYear"] >= 1980), "College"] = "Overseas (Greece)"

Divisione delle scelte

In [26]:
def pick_band(p):
    if pd.isna(p):
        return "Unknown"
    if p <= 10:
        return "Top10"
    elif p <= 30:
        return "FirstRound"
    else:
        return "SecondRound"

df["PickBand"] = df["Pick"].apply(pick_band)

,DraftYear,Pick,Tm,Player,College,Seasons,Games,MP,PTS,TRB,...,MP.1,PTS.1,TRB.1,AST.1,WS,WS/48,BPM,VORP,Forfeited,PickBand
0,1947,1.0,PIT,Clifton McNeely,Texas Wesleyan University,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,Top10
1,1947,2.0,TRH,Glen Selbo,Wisconsin,1,13.0,NaN,42.0,NaN,...,NaN,3.2,NaN,1.8,-0.2,NaN,NaN,NaN,False,Top10
2,1947,3.0,BOS,Bulbs Ehlers,Purdue,2,99.0,NaN,800.0,NaN,...,NaN,8.1,NaN,1.8,3.0,NaN,NaN,NaN,False,Top10
3,1947,4.0,PRO,Walt Dropo,UConn,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,Top10
4,1947,5.0,NYK,Dick Holub,Long Island University,1,48.0,NaN,504.0,NaN,...,NaN,10.5,NaN,0.8,4.2,NaN,NaN,NaN,False,Top10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8319,2024,54.0,BOS,Anton Watson,Gonzaga,1,5.0,14.0,6.0,2.0,...,2.8,1.2,0.4,0.4,0.0,-0.061,-9.8,0.0,False,SecondRound
8320,2024,55.0,LAL,Bronny James,USC,1,23.0,135.0,52.0,13.0,...,5.9,2.3,0.6,0.6,-0.1,-0.043,-7.5,-0.2,False,SecondRound
8321,2024,56.0,PHO,Kevin McCullar Jr.,Kansas,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,SecondRound
8322,2024,57.0,MEM,Ulrich Chomche,Overseas (Cameroon),1,7.0,32.0,5.0,8.0,...,4.6,0.7,1.1,0.3,0.0,-0.004,-7.5,0.0,False,SecondRound
8323,2024,58.0,DAL,Ariel Hukporti,Overseas (Germany),1,25.0,217.0,48.0,51.0,...,8.7,1.9,2.0,0.4,0.1,0.019,-5.7,-0.2,False,SecondRound