In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use("default")

# Percorsi ai file nella cartella data/
draft_path = "../data/NBA_Draft_ve.csv"
draft21_path = "../data/draft_2021_stats.csv"

df = pd.read_csv(draft_path)
df21 = pd.read_csv(draft21_path)

df.head(), df21.head()

Matplotlib is building the font cache; this may take a moment.

(   Year   Rk   Tm           Player                    College  Yrs     G  MP  \
 0  1947  1.0  PIT  Clifton McNeely  Texas Wesleyan University  NaN   NaN NaN
 1  1947  2.0  TRH       Glen Selbo                  Wisconsin    1  13.0 NaN
 2  1947  3.0  BOS     Bulbs Ehlers                     Purdue    2  99.0 NaN
 3  1947  4.0  PRO       Walt Dropo                      UConn  NaN   NaN NaN
 4  1947  5.0  NYK       Dick Holub     Long Island University    1  48.0 NaN

      PTS  TRB  ...  3P%    FT%  MP.1  PTS.1  TRB.1  AST.1   WS  WS/48  BPM  \
 0    NaN  NaN  ...  NaN    NaN   NaN    NaN    NaN    NaN  NaN    NaN  NaN
 1   42.0  NaN  ...  NaN  0.759   NaN    3.2    NaN    1.8 -0.2    NaN  NaN
 2  800.0  NaN  ...  NaN  0.618   NaN    8.1    NaN    1.8  3.0    NaN  NaN
 3    NaN  NaN  ...  NaN    NaN   NaN    NaN    NaN    NaN  NaN    NaN  NaN
 4  504.0  NaN  ...  NaN  0.633   NaN   10.5    NaN    0.8  4.2    NaN  NaN

    VORP
 0   NaN
 1   NaN
 2   NaN
 3   NaN
 4   NaN

 [5 rows x 22 columns],
    Rk  Pk   Tm           Player         College  Yrs      G       MP     PTS  \
 0   1   1  DET  Cade Cunningham  Oklahoma State  4.0  208.0   7014.0  4588.0
 1   2   2  HOU      Jalen Green             NaN  4.0  307.0  10038.0  6173.0
 2   3   3  CLE      Evan Mobley             USC  4.0  269.0   8745.0  4412.0
 3   4   4  TOR   Scottie Barnes   Florida State  4.0  276.0   9523.0  4756.0
 4   5   5  ORL      Jalen Suggs         Gonzaga  4.0  211.0   5580.0  2598.0

       TRB  ...    3P%    FT%  MP.1  PTS.1  TRB.1  AST.1    WS  WS/48  BPM  \
 0  1121.0  ...  0.339  0.853  33.7   22.1    5.4    7.4   7.0  0.048  1.0
 1  1310.0  ...  0.342  0.799  32.7   20.1    4.3    3.4  10.7  0.051 -1.1
 2  2408.0  ...  0.315  0.694  32.5   16.4    9.0    2.9  28.3  0.155  2.3
 3  2065.0  ...  0.300  0.761  34.5   17.2    7.5    5.0  19.4  0.098  1.7
 4   702.0  ...  0.329  0.779  26.4   12.3    3.3    3.3   5.6  0.048 -1.1

    VORP
 0   5.2
 1   2.2
 2   9.5
 3   8.9
 4   1.3

 [5 rows x 22 columns])

In [2]:
df.info()
df21.info()
df.columns, df21.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8324 entries, 0 to 8323
Data columns (total 22 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     8324 non-null   int64
 1   Rk       8323 non-null   float64
 2   Tm       8323 non-null   object
 3   Player   8323 non-null   object
 4   College  8321 non-null   object
 5   Yrs      3684 non-null   object
 6   G        3689 non-null   float64
 7   MP       3590 non-null   float64
 8   PTS      3689 non-null   float64
 9   TRB      3618 non-null   float64
 10  AST      3689 non-null   float64
 11  FG%      3681 non-null   float64
 12  3P%      2243 non-null   float64
 13  FT%      3597 non-null   float64
 14  MP.1     3590 non-null   float64
 15  PTS.1    3689 non-null   float64
 16  TRB.1    3618 non-null   float64
 17  AST.1    3689 non-null   float64
 18  WS       3689 non-null   float64
 19  WS/48    3589 non-null   float64
 20  BPM      3017 non-null   float64
 21  VORP     3018 non-null   float64
dtypes: float64(17), int64(1), object(4)
memory usage: 1.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 22 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rk       60 non-null     int64
 1   Pk       60 non-null     int64
 2   Tm       60 non-null     object
 3   Player   60 non-null     object
 4   College  51 non-null     object
 5   Yrs      56 non-null     float64
 6   G        56 non-null     float64
 7   MP       56 non-null     float64
 8   PTS      56 non-null     float64
 9   TRB      56 non-null     float64
 10  AST      56 non-null     float64
 11  FG%      55 non-null     float64
 12  3P%      54 non-null     float64
 13  FT%      54 non-null     float64
 14  MP.1     56 non-null     float64
 15  PTS.1    56 non-null     float64
 16  TRB.1    56 non-null     float64
 17  AST.1    56 non-null     float64
 18  WS       56 non-null     float64
 19  WS/48    56 non-null     float64
 20  BPM      56 non-null     float64
 21  VORP     56 non-null     float64
dtypes: float64(17), int64(2), object(3)
memory usage: 10.4+ KB

(Index(['Year', 'Rk', 'Tm', 'Player', 'College', 'Yrs', 'G', 'MP', 'PTS', 'TRB',
        'AST', 'FG%', '3P%', 'FT%', 'MP.1', 'PTS.1', 'TRB.1', 'AST.1', 'WS',
        'WS/48', 'BPM', 'VORP'],
       dtype='object'),
 Index(['Rk', 'Pk', 'Tm', 'Player', 'College', 'Yrs', 'G', 'MP', 'PTS', 'TRB',
        'AST', 'FG%', '3P%', 'FT%', 'MP.1', 'PTS.1', 'TRB.1', 'AST.1', 'WS',
        'WS/48', 'BPM', 'VORP'],
       dtype='object'))

Refractor delle colonne, perche nel df21 non è espresso il dataset e quello che era rk nelprimo dataset è pk nel secondo.

In [3]:
# Esempio di rinomina (ADATTA ai tuoi nomi reali)
df = df.rename(columns={
    "Year": "DraftYear",
    "Pk": "Pick",
    "Player": "Player",
    "WS": "WS",
    "VORP": "VORP",
    "College": "College",
    "G": "Games",
    "Yrs": "Seasons"
})

# Controlla che esistano
df[["DraftYear", "Pick", "Player", "WS", "VORP"]].head()

KeyError: "['Pick'] not in index"

Normalizzazione dello storico

In [ ]:
df.head()

In [4]:
df = df.rename(columns={
    "Year": "DraftYear",
    "Rk": "Pick",
    "Yrs": "Seasons",
    "G": "Games"
})

In [6]:
df.head()

,DraftYear,Pick,Tm,Player,College,Seasons,Games,MP,PTS,TRB,...,3P%,FT%,MP.1,PTS.1,TRB.1,AST.1,WS,WS/48,BPM,VORP
0,1947,1.0,PIT,Clifton McNeely,Texas Wesleyan University,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1947,2.0,TRH,Glen Selbo,Wisconsin,1,13.0,NaN,42.0,NaN,...,NaN,0.759,NaN,3.2,NaN,1.8,-0.2,NaN,NaN,NaN
2,1947,3.0,BOS,Bulbs Ehlers,Purdue,2,99.0,NaN,800.0,NaN,...,NaN,0.618,NaN,8.1,NaN,1.8,3.0,NaN,NaN,NaN
3,1947,4.0,PRO,Walt Dropo,UConn,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1947,5.0,NYK,Dick Holub,Long Island University,1,48.0,NaN,504.0,NaN,...,NaN,0.633,NaN,10.5,NaN,0.8,4.2,NaN,NaN,NaN

Normalizzazione dataset 2021

In [8]:
df21.head()

,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,3P%,FT%,MP.1,PTS.1,TRB.1,AST.1,WS,WS/48,BPM,VORP
0,1,1,DET,Cade Cunningham,Oklahoma State,4.0,208.0,7014.0,4588.0,1121.0,...,0.339,0.853,33.7,22.1,5.4,7.4,7.0,0.048,1.0,5.2
1,2,2,HOU,Jalen Green,NaN,4.0,307.0,10038.0,6173.0,1310.0,...,0.342,0.799,32.7,20.1,4.3,3.4,10.7,0.051,-1.1,2.2
2,3,3,CLE,Evan Mobley,USC,4.0,269.0,8745.0,4412.0,2408.0,...,0.315,0.694,32.5,16.4,9.0,2.9,28.3,0.155,2.3,9.5
3,4,4,TOR,Scottie Barnes,Florida State,4.0,276.0,9523.0,4756.0,2065.0,...,0.300,0.761,34.5,17.2,7.5,5.0,19.4,0.098,1.7,8.9
4,5,5,ORL,Jalen Suggs,Gonzaga,4.0,211.0,5580.0,2598.0,702.0,...,0.329,0.779,26.4,12.3,3.3,3.3,5.6,0.048,-1.1,1.3

In [ ]:
df21 = df21.rename(columns={
    "Pk": "Pick",
    "Yrs": "Seasons",
    "G": "Games"
})

# Rimuovi la colonna Rk perché è duplicata
df21 = df21.drop(columns=["Rk"])

# Imposta l’anno di draft 2021
df21["DraftYear"] = 2021